@font-face {
  font-family: "Nunito";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Nunito/Nunito-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/Nunito/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype");
}
